/*
    I Learn From Elzero Web Scholl
    So Thank you Mr.Osama
*/

.test {
    /* background-color */
    background-color: blue;
    background-color: rgb(0 255 0 / 50%);
    background-color: #0f0;
    /* background-image */
    background-image: url('#');
    /* background-repeat */
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    /* background-attachment */
    /* default => scroll */
    background-attachment: fixed;
    /* background-position */
    background-position: left top;
    background-position: 100px 40px;
    background-position: 50% 10%;
    /* background-size */
    background-size: cover;
    background-size: contain;
    background-size: 200px 140px;
    background-size: 100% 100%;
    /* padding */
    padding: 10px;
    /* margin */
    margin: 5px 10px;
    margin-left: auto;
    margin-right: auto;
    /* border */
    border: 2px solid red;
    /* outline */
    outline: 5px yellow solid;
    /* display */
    display: block;
    display: inline;
    display: inline-block;
    display: none;
    /* visibility */
    visibility: hidden;
    /* max - min */
    width: fit-content;
    min-width: 200px;
    max-width: 250px;
    min-height: 100px;
    max-height: 150px;
    /* overflow */
    overflow: hidden;
    overflow: scroll;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    /* text-shadow */
    /* H-shadow V-shadow shadow color */
    text-shadow: 1px 1px 1px #000;
    /* text align */
    text-align: center;
    text-align: left;
    direction: rtl;
    vertical-align: middle;
    /* text decoration */
    /* Sould control the letter from the css file not the html */
    text-decoration: none;
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    /* text spacing */
    letter-spacing: 2px;
    text-indent: 20px;
    line-height: 1.6;
    word-spacing: 1px;
    white-space: nowrap;
    word-break: break-word;
    text-overflow: ellipsis;
    /* inhertance */
    border: inherit;
    /* Css units */
    /*
    - px
    - % => from the parent element
    - em => 1em == 100% from parent
    - rem => 1rem == 100% from <html>
    - vw => 1vw == 1% from body
    */
    /*font*/
    font-size: 100px;
    font-style: italic;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 100-900;
    font-weight: bold - normal;
    /* cursor */
    cursor: pointer;
    /* float */
    float: left;
    clear: left;
    /* function => calc */
    margin: calc((100%-(6*10px))/5);
    /* opacity */
    opacity: 0 - 1;
    /* position */
    position: static;
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;
    top: 10px;
    left: 140px;
    /* z-index */
    z-index: 3;
    /* list-style */
    list-style: disc inside url('');
    list-style-type: disc;
    list-style-position: outside - inside;
    list-style-image: url('');
    /* table */
    border-spacing: 5px;
    /* vendor prefixes */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* border-radius */
    border-top-left-radius: 5px;
    /* box-shadow */
    /* H-shadow | V-shadow | shadow | spreed | color | inset - outset */
    box-shadow: 
    7px 7px 5px 0px #ddd,
    7px 7px 5px 0px #ddd inset;
    /* box-sizing 
        default => content-box
    */
    box-sizing: border-box;
    /* transition 
    
    transition-duration: 2s;
    transition-delay: 0.2s;
    transition-property: width;
    transition-timing-function: ease - linear - ease-in - ease-out - ease-in-out;
    */
    transition: width 2s 0.2s linear;
    /* important */
    background-color: #eee !important;
    /* flex */
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-flow: column nowrap;
    /* justify-content 
    default => flex-start
    */
    justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    /* align-items
    default => stretch
    */
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    /* align-content
    default => stretch */
    align-content: flex-start;
    align-content: center;
    align-content: flex-end;
    align-content: space-between;
    align-content: space-around;
    align-content: space-evenly;
    /* flex box child 
    flex-grow: 0; => default
    flex-shrink: 1; => default
    order: 0; => default
    flex-basis: auto;
    flex: flex-grow flex-shrink flex-basis;
    */
    flex-grow: 0;
    flex-shrink: 1;
    order: 0;
    flex-basis: 50px;
    flex: 0 1 50px;
    display: inline-flex;
    align-self: stretch;
    /* gradient */
    background-image: linear-gradient(
        to right || 90deg,
        #f00 20%,
        #0f0 20%,
        #0f0 80%,
        #00f 80%
    );
    /* caret-color */
    caret-color: #000;
    /* pointer-events */
    pointer-events: none;
    /* grid parent */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    gap: 5px;
    justify-content: center;
    align-content: center;
    /*
    example for grid-template-areas
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 50px auto 50px;
    */
    grid-template-areas: 
    "logo logo nav nav nav nav nav nav nav nav"
    "content content content content content content content content side side"
    "footer footer footer footer footer footer footer footer footer footer";
    /* grid child */
    grid-column: 1 / 3;
    grid-column: 1 / span 3;
    grid-row: span 2;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-area: 2 / 2 / 5 / 6;
    grid-template-columns: repeat(auto-fill , minmax(80px, 1fr));
    /* 2d transform */
    transform: scaleX(2);
    transform: scaleY(2);
    transform: scale(-1);
    transform: rotate(90deg);
    transform: tanslate(-10%,0);
    transform: tanslateX(5px);
    transform: tanslateY(5px);
    transform: skew(45deg);
    /*
    scaleX skewX skewY scaleY translateX translateY
    */
    transform: matrix(1, 0, 0, 1, 0,    0);
    /* 3d transform */
    /*
    top = 0%
    left = 0%
    */
    transform-origin: right top;
    transform-origin: 100% 0;
    transform: rotateX(45deg);
    transform: rotateY(45deg);
    transform: rotateZ(45deg);
    /*
    rotate X Y Z [0 - 1] 30deg
    */
    transform: rotate3d(1, 1, 1, 20deg);
    perspective: 100px;
    perspective-origin: right bottom;
    transform: translateZ(100px);
    transform: translate3d(0, 0, 100px);
    backface-visibility: hidden;
    /* for parent */
    transform-style: preserve-3d;
    /* animation */
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction
    default => normal
    */
    animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
    animation-delay: -2s;
    animation-fill-mode: forwards;
    animation-fill-mode: backwards;
    animation-fill-mode: both;
    animation-play-state: paused;
    /*
    name duration timing-function delay iteration-count iteration-count direction
    */
    animation: spin 1s linear 2s infinite reverse;
    /*  css global values*/
    margin: inherit;
    margin: initial;
    margin: unset;
    all: unset;
    margin: revert;
}

/* pseudo classes */
a:hover,
a:visited {}
.check:checked {}
.input:empty,
.input:focus {}

/* pseudo elementes */
p::first-letter,
p::first-line {}
::selection {}

.one::before {}

.parent {
    counter-increment: member-counter;
}

.one::after {
    content: counter(member-counter);
}

.one::before {
    content: attr(data-text);
    content: url();
}

/* css variables */
:root {
    --main-color: green;
}

.container {
    background-color: var(--main-color);
}

/* filter */
img {
    filter: grayscale(100%);
    filter: blur(100%);
    filter: invert(100%);
}

.test {
    animation-name: change-color;
    animation-duration: 3s;
    animation-timing-function: linear;
    /*
    can be a number "counts"
    */
    animation-iteration-count: infinite;
}

@keyframes change-color {
    /*
    can also use from & to
    */
    0% {
        background-color: #f00;
    }
    50% {
        background-color: #0f0;
    }
    100% {
        background-color: #00f;
    }
}

/*
  CSS Selectors
  - *
  - Element => [p, div, h2]
  - Element OtherElement => div p
  - .class-name
  - #id-name
  - .parent .child
  - .class-one.class-two
  - .class-name div, .class-name p
  - Element.class-name => p.class-name
  - .parent > .child => Direct Child
  
  - Element + Other Element => [div + p]
  - Element ~ Other Elements => [p ~ div]
  - [Attribute]
  - Element[Attribute]
  - [Attribute=Value]
  - Element[Attribute=Value] => input[type="submit"]
  - [Attribute~=Value] => Contains A Word
  - [Attribute*=Value] => Contains A Atring
  - [Attribute^=Value] => Start With A String
  
  - :first-child
  - :last-child
  - :first-of-type
  - :last-of-type
  - :only-child
  
  - :not(Selectors)
  - :nth-child(n)
  - :nth-last-child(n)
  - :nth-of-type(n)
  - :nth-last-of-type(n)
  
  - :root
  - :checked
  - :empty
  - :disabled
  - :required
  - :focus
  - ::selection
  - ::placeholder
*/

/* media queries */

@media (min-width: 300px) and (max-width: 600px) {
    .load div {
        background-color: #f00;
    }
}

/*
  Media Queries
  Responsive Design
  - Concept Of Width
  - Mobile
  - Small Screens
  - Medium Screens
  - Large Screens
  - Future Updates
*/

/* Mobile */

@media (max-width: 767px) {
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
}

/* Medium Screens */

@media (min-width: 992px) {
}

/* Large Screens */

@media (min-width: 1200px) {
}

/* Custom */

@media (max-width: 1199px) {
}
